### **Dictionary**
- 영어사전
    - 단어: 뜻 -> 키: 값
    - 순서가 없음 -> 인덱싱 불가능!
    - "키로 값을 찾는 것"
        - 키는 중복되지 않는 고유한 값
    - 가변: 수정, 삭제, 추가 모두 가능
    - 타입: dict
    - 형변환 할 때는 "dict()"
    - 중괄호 {} 사용
    - 콤마로 구분
    - 값에는 다양한 자료구조가 올 수 있음
        - a: 1, a: [1, 2, 3, 4]

In [7]:
a = [1, 2, 3]
a[0] # 리스트는 인덱싱이 되지만 딕셔너리는 순서가 없어서 불가능

1

In [8]:
empty = dict()
empty = {} # 선언은 두가지 방식 가능

empty = {} # dict type
empty = set() # set도 {}를 쓰기 때문에 헷갈리 수 있으나 set 선언은 이렇게!
type(empty)

set

In [9]:
a = {1, 2, 3} # set
a = {1:'apple', 2:'banana', 3:'kiwi'} # dict
a

{1: 'apple', 2: 'banana', 3: 'kiwi'}

In [11]:
b = {'':'', '':'', '':''} 
b = dict(apple= 'a', banana='b', kiwi='c') 
# 따옴표 쓰기 귀찮을 때는 앞에 dict라고 하면 키 값은 따옴표 안 써도 된다.

#### ***Quiz. 출석부로 딕셔너리 만들기***

- 이름, 학번, 학과
- james 202201 경제학과
- laura 202203 스페인어과
- louis 202202 컴공과

In [17]:
attendance = {202201:['james', '경제학과'], 202203: ['laura', '스페인어과'], 202202: ['louis', '컴공과']}
attendance
# 이름과 학과는 중복될 수도 있기 떄문에 고유한 값인 학번을 키로 한다.

{202201: ['james', '경제학과'],
 202203: ['laura', '스페인어과'],
 202202: ['louis', '컴공과']}

--------------------------------

### **형 변환**

In [18]:
ex1 = [[1, 2], [2, 3], [3, 4]]
dict(ex1)

{1: 2, 2: 3, 3: 4}

In [20]:
ex2 = [(1, 2), (2, 3), (1, 3)]
dict(ex2) # 키는 중복되지 않기 떄문에 키가 똑같으면 마지막 것만 출력

{1: 3, 2: 3}

In [1]:
ex3 = ['ab', 'bc', 'cd']
dict(ex3) # 문자열도 되긴 되는데 두자리까지만!

{'a': 'b', 'b': 'c', 'c': 'd'}

### **항목 조회 & 변경**

In [4]:
pythons = { # 성: 이름
    'Chapman': 'Graham',
    'Cleese': 'John',
    'Idle': 'Eric',
    'Jones': 'Terry',
    'Palin': 'Michael'
}

In [5]:
pythons['Idle'] # 찾기

'Eric'

In [7]:
pythons['Hwa'] # 없는 key 입력하면 에러 발생

KeyError: 'Hwa'

In [121]:
pythons['Hwa'] = 'Chloe' # 추가

In [122]:
pythons['Idle'] = 'James' # 변경
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe',
 'Hwa': 'Chloe'}

##### **예외 확인**

In [22]:
# 1) 있/없 확인
'Hwa' in pythons

True

In [18]:
# 2) get() 
pythons.get('Hwa') # 있으면 값 반환

'Chloe'

In [21]:
pythons.get('Lee', 0) # 없으면 None 반환 (내가 반환 값 설정 가능)

0

### **전체 조회**
- keys()
- values()
- items()

In [26]:
pythons.keys() # key 조회

dict_keys(['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa'])

In [30]:
list(pythons.keys()) # 사용하고 싶을 땐 list로 형 변환

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [27]:
pythons.values() # value 조회

dict_values(['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe'])

In [28]:
pythons.items() # (키, 값) 튜플 형태로 조회 => 순회할 떄 많이 씀

dict_items([('Chapman', 'Graham'), ('Cleese', 'John'), ('Idle', 'James'), ('Jones', 'Terry'), ('Palin', 'Michael'), ('Hwa', 'Chloe')])

In [32]:
for k,v in pythons.items():
    print(f'{k} = {v}')

Chapman = Graham
Cleese = John
Idle = James
Jones = Terry
Palin = Michael
Hwa = Chloe

In [33]:
[(k, v) for k, v in pythons.items()]

[('Chapman', 'Graham'),
 ('Cleese', 'John'),
 ('Idle', 'James'),
 ('Jones', 'Terry'),
 ('Palin', 'Michael'),
 ('Hwa', 'Chloe')]

In [39]:
[k for k in pythons] # 기본은 key 값

['Chapman', 'Cleese', 'Idle', 'Jones', 'Palin', 'Hwa']

In [40]:
[k[1] for k in pythons.items()] # 인덱스로 접근 가능 ( 0 = key, 1 = value)

['Graham', 'John', 'James', 'Terry', 'Michael', 'Chloe']

#### ***Quiz. animal: num_leg 딕셔너리 만들기***

In [80]:
animal = 'cat snake monkey ant spider'.split()
legs = 4, 0, 2, 4, 8

In [82]:
num_leg = {}
for k,v in zip(animal, legs):
    num_leg[k] = v
    
num_leg

{'cat': 4, 'snake': 0, 'monkey': 2, 'ant': 4, 'spider': 8}

#### ***Quiz. 성: 이름 리스트로 반환하기***
- pythons 에서 성: 이름, 성 첫 글자만, 이름은 글자 개수로 이루어진 튜플(성, 이름) 리스트로 반환하기
    - dict comprehension 쓰지 말기

In [101]:
# [(), ()] # => items()
[(k[0], len(v)) for k, v in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

In [104]:
#인덱스 이용
[(k[0][0], len(k[1])) for k in pythons.items()]

[('C', 6), ('C', 4), ('I', 5), ('J', 5), ('P', 7), ('H', 5)]

----------------------------------------------------------

### **값 수정, 삭제, 복제, 비교**

In [106]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe'}

In [107]:
others = {
    'Marx': 'Groucho',
    'Howard': 'Moe'
}

others

{'Marx': 'Groucho', 'Howard': 'Moe'}

##### **추가**

In [117]:
pythons.update(others)

In [114]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Hwa': 'Chloe',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [119]:
#py 3에서만 가능한 기능
{**others, **pythons}

{'Marx': 'Groucho',
 'Howard': 'Moe',
 'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael'}

##### **삭제**

In [123]:
del pythons['Hwa']

In [125]:
pythons

{'Chapman': 'Graham',
 'Cleese': 'John',
 'Idle': 'James',
 'Jones': 'Terry',
 'Palin': 'Michael',
 'Marx': 'Groucho',
 'Howard': 'Moe'}

In [130]:
del pythons['Lee'] # 없는 거 삭제하면 에러

KeyError: 'Lee'

In [127]:
pythons.pop('Marx')

'Groucho'

In [128]:
pythons.pop('Lee', 0) # 없으면 예외는 나지만. 예외 시 출력 값을 지정 가능

0

In [131]:
# 전체 삭제
pythons.clear() #1)
pythons = {} #2)

In [132]:
pythons

{}

##### **복제**
- 할당: b = a
- 얕은 복사: c = a.copy()
- 깊은 복사: deepcopy

In [142]:
# 할당
a = {1:1, 2:2, 3:3}
b = a
a[1] = 45
a, b

({1: 45, 2: 2, 3: 3}, {1: 45, 2: 2, 3: 3})

In [143]:
# 얕은 복사
c = a.copy()
a[2] = 22
a, c

({1: 45, 2: 22, 3: 3}, {1: 45, 2: 2, 3: 3})

In [146]:
# 깊은 복사
a = {1: [1, 2, 3], 2: [2, 3, 4]}
d = a.copy()
a[1][0] = 100 # 리스트의 2차원 이상 가변 객체에서는 똑같아지는 문제 -> deepcopy사용
a, d

({1: [100, 2, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

In [147]:
import copy
e = copy.deepcopy(a)
a[1][1] = 999
a, e

({1: [100, 999, 3], 2: [2, 3, 4]}, {1: [100, 2, 3], 2: [2, 3, 4]})

##### **비교** 
- 같다, 다르다 만 된다.

In [148]:
a != b

True

#### ***Quiz***
1. 두 리스트로 하나의 딕셔너리 생성
2. 명왕성 = pluto 추가하기
3. '성'으로 끝나지 않는 키 삭제하기
    del dict1['태양'] (x)
4. sorted 이용해서 값 정렬하기 1) key, 2) value

In [236]:
solar_kor = '태양 수성 금성 지구 화성 목성 토성 천왕성 해왕성'.split()
solar_eng = 'sun mercury venus earth mars jupiter saturn uranus neptune'.split()

In [265]:
system = {}
for k, v in zip(solar_kor, solar_eng):
    system[k] = v
    
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune'}

In [266]:
system['명왕성'] = 'pluto'
system

{'태양': 'sun',
 '수성': 'mercury',
 '금성': 'venus',
 '지구': 'earth',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [267]:
# 3) list comprehension 이용
dict([(k, v) for k, v in system.items() if k[-1] == ('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [269]:
# 3) list comprehension 이용
dict([(k, system[k]) for k in system if k[-1] == ('성')])

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [293]:
# 3) for loop 이용
for k in list(system.keys()):
    if k[-1] != '성':
        del system[k]
        
system

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

In [297]:
#3) comprehension 이용
{k: v for k, v in system.items() if k[-1] == ('성')}

{'수성': 'mercury',
 '금성': 'venus',
 '화성': 'mars',
 '목성': 'jupiter',
 '토성': 'saturn',
 '천왕성': 'uranus',
 '해왕성': 'neptune',
 '명왕성': 'pluto'}

### **컴프리핸션**

In [271]:
letter = 'apple'
#a: 1, p:2, ...
{ch: letter.count(ch) for ch in letter}

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

In [272]:
# 단어의 모음 세기
vowels = 'aeiou'
word = 'onomatopoeia'

# word 순회
# vowels 순회

In [288]:
# vowels 순회
{v: word.count(v) for v in vowels if v in word}

{'a': 2, 'e': 1, 'i': 1, 'o': 4}

In [289]:
# word 순회
{w: word.count(w) for w in set(word) if w in vowels}

{'i': 1, 'o': 4, 'a': 2, 'e': 1}

### **sorting**

##### **함수**

In [308]:
def fx(x):
    return x[0] # key 기준 정렬

In [309]:
sorted(system.items(), key=fx)

[('금성', 'venus'),
 ('명왕성', 'pluto'),
 ('목성', 'jupiter'),
 ('수성', 'mercury'),
 ('천왕성', 'uranus'),
 ('토성', 'saturn'),
 ('해왕성', 'neptune'),
 ('화성', 'mars')]

##### **익명함수**

In [311]:
sorted(system.items(), key=lambda x: x[1]) # value 기준 정렬

[('목성', 'jupiter'),
 ('화성', 'mars'),
 ('수성', 'mercury'),
 ('해왕성', 'neptune'),
 ('명왕성', 'pluto'),
 ('토성', 'saturn'),
 ('천왕성', 'uranus'),
 ('금성', 'venus')]

------------------------------------------------------------------------

### **Set**
- 중복 안됨
- 집합 => 교집합, 합집합, 차집합, ...
- bag이라고 생각
- 인덱싱 x

In [316]:
# 값이 없을 때
empty = set()
empty

set()

In [318]:
#값이 있을 때
a = {1, 2, 3}
a

{1, 2, 3}

In [319]:
a = set((1, 2, 3)) # 선언, 형 변환
a

{1, 2, 3}

##### **추가**

In [320]:
a.add(4)
a

{1, 2, 3, 4}

##### **삭제**

In [321]:
a.remove(4)
a

{1, 2, 3}

#### ***Quiz.***
1. vodka가 포함된 술 출력하기
2. vodka는 있지만 cream, vermouth 없는 술 출력하기

In [334]:
drinks = {
    'martini': {'vodka', 'vermouth'},
    'black russian': {'vodka', 'kahlua'},
    'white russian': {'cream', 'kahlua', 'vodka'},
    'screwdriver': {'orangejuice', 'vodka'}
}

In [328]:
# 1)
for k,v in drinks.items():
    if 'vodka' in v:
        print(k)

martini
black russian
white russian
screwdriver

In [337]:
# 2)
for k,v in drinks.items():
    if 'vodka' in v and not ('cream' in v or 'vermouth' in v):
        print(k)

black russian
screwdriver

##### **set 활용**

In [ ]:
a = {1, 2, 3}
b = {2, 3, 4}
# 교집합 | intersection
a.intersection(b)
a & b
# 합집합 | union
a.union(b)
a | b
# 차집합 | difference
a.difference(b)
a - b, b - a

In [338]:
# 2번 set을 활용해서 바꾸기

for k,v in drinks.items():
    if v & {'vodka'} and not v & {'cream', 'vermouth'}:
    # if 'vodka' in v and not v & {'cream', 'vermouth'}:
        print(k)

black russian
screwdriver

##### issubset -> 생략

In [339]:
{s for s in range(5)}

{0, 1, 2, 3, 4}

##### **frozenset**
- 가변 객체를 불변 객체로 변환

In [340]:
set([1, 2])
frozenset([1, 2])

frozenset({1, 2})

-----------------------------------------------

### **Project**
- 테스크 해결
- 수업 30분 랜덤 코드 설명
- 제출: 수요일 자정

In [341]:
!pip install pylint
!pylint example.py

!pip install pydocstyle
!pydocstyle example.py

Requirement already satisfied: pylint in c:\users\sjlee\anaconda3\lib\site-packages (2.9.6)
Requirement already satisfied: astroid<2.7,>=2.6.5 in c:\users\sjlee\anaconda3\lib\site-packages (from pylint) (2.6.6)
Requirement already satisfied: toml>=0.7.1 in c:\users\sjlee\anaconda3\lib\site-packages (from pylint) (0.10.2)
Requirement already satisfied: mccabe<0.7,>=0.6 in c:\users\sjlee\anaconda3\lib\site-packages (from pylint) (0.6.1)
Requirement already satisfied: colorama in c:\users\sjlee\anaconda3\lib\site-packages (from pylint) (0.4.4)
Requirement already satisfied: isort<6,>=4.2.5 in c:\users\sjlee\anaconda3\lib\site-packages (from pylint) (5.9.3)
Requirement already satisfied: wrapt<1.13,>=1.11 in c:\users\sjlee\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.12.1)
Requirement already satisfied: lazy-object-proxy>=1.4.0 in c:\users\sjlee\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (1.6.0)
Requirement already satisfied: setuptools>=20.0 in c:\users\sjlee\anaconda3\lib\site-packages (from astroid<2.7,>=2.6.5->pylint) (58.0.4)
************* Module example.py
example.py:1:0: F0001: No module named example.py (fatal)
Requirement already satisfied: pydocstyle in c:\users\sjlee\anaconda3\lib\site-packages (6.1.1)
Requirement already satisfied: snowballstemmer in c:\users\sjlee\anaconda3\lib\site-packages (from pydocstyle) (2.1.0)

WARNING: Error in file example.py: [Errno 2] No such file or directory: 'example.py'